/*carousel*/
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@font-face {
  font-family: "main-font";
  src: url("../fonts/XeroxSans.otf");
}
@font-face {
  font-family: "main-font-bold";
  src: url("../fonts/XeroxSans-Light.otf");
}
@font-face {
  font-family: "main-font-light";
  src: url("../fonts/XeroxSans-Light.otf");
}

* {
  font-family: 'main-font';
}

html, body{
    min-height: 100% !important;
    height: 100%;
}

body {
    color: #5a5a5a;
    background: rgb(237, 235, 237);
}
.gone {
    display: none !important;
}
.custom-button:hover {
    background-color: #801515 !important;
    cursor: pointer;
}
.custom-button {
    background-color: #550000 !important;
    color: #FFFFFF;
    padding: 6px 10px;
    font-size: 14px;
    margin-right: 2px;
}

/*NAV*/
nav.navbar {

}

.home-image-menu {
    width: 100%;
    height: 175px;
}
.home-image-menu-desc {
    position: absolute;
    bottom: 0;
    left: 3;
    color: white;
    font-size: 18px;
    width: 92%;
    color: #fff;
    text-align: left;
    padding-left: 10px;
    background: rgba(0,0,0,0.4);
    margin-left:100px;
    padding: 5px 10px;
}

.text-black {
    /*color: #000 !important;*/
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 20rem;
    background-color: #777;
}
.carousel-item:hover {
    cursor: pointer;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 75px;
    height: 75px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.carousel-control-next-icon {
    /*background-image: url('https://image.flaticon.com/icons/svg/137/137624.svg');*/
}
.carousel-control-prev-icon {
    /*background-image: url('https://image.flaticon.com/icons/svg/137/137623.svg');*/
}

    /* MARKETING CONTENT
    -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.2rem;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

/*LOGIN FORM*/
.login-form {
    display: none;
    position: absolute;
    background: #630034;
    z-index: 999;
    padding: 5px 20px 10px 25px;
    border-top: 1px solid #cdcdcd;
    border-bottom-right-radius: 8px;
    /*border-top-right-radius: 24px;*/
    border-bottom-left-radius: 8px;
    /*border-top-left-radius: 8px;*/
    right:10px;
    top: 0;
}
.login-form button:hover { 
    cursor: pointer;
}
.login-form h4 {
    font-size:20px;
    font-family: main-font-bold;
    padding:10px 0px;
    color: #fefefe;
}
.form-control {
    width: 100%;
    line-height: 0.25 !important;
}
.login-form button {
    text-align: right;
    float:right;
    margin-right: 7px;
}
.login-forgot-box {
    padding-top: 9px;
}
.login-forgot-box a{ 
    font-size: 12px;
    color:white;
}
.login-forgot-box a:hover{ 
    font-weight: bold;
    text-decoration: none;
} 


/*HEADER*/
.header-top {
    background-color: #630034;
    color: white;
    line-height: 36px;
    height: 40px;
}

.header-top a {
    font-family: main-font;
    font-size: 15px;
    color:#fefefe;
}
.header-top a:hover {
    text-decoration: none;
}
.header-left {
    float: left;
}
.header-right {
    float: right;
}
.header-tools {
    text-align: right;
    float: right;
    margin-right:8px;
}

/*NAV*/
.nav-desktop {
    width: 100%;
}
.nav-desktop ul { 
    float: right;
    margin-top: 1rem;
}
.nav-desktop li {
    float:left;
    width:75px;
    list-style: none;
    text-align: right;
    text-align: left;
}
.nav-desktop li a {
    color: #676767;
    font-family: main-font-light;
    text-transform: capitalize;
    transition: all 0.3s;
}
.nav-desktop li a:hover { 
    text-decoration: none;
    font-weight: bold;
    font-family: main-font-bold;
    color: #D92231;
}

@media screen and (max-width: 480px) {

    .nav-desktop ul { 
        float: none;
        padding-bottom: 1rem;
    }
    
}



.caret{
    border-width: 10px;
    border-style: solid;
    border-right: 10px solid transparent;
    border-color: #630034 transparent transparent;
    width: 0;
    height: 0;
    position: absolute;
    right: 25px;
    top: -20px;
    transform: rotate(180deg);
}

@media screen and (max-width: 480px) {

    .login-form {
        right: -48px;
    }
    
}


.footer-content {
    margin-top:0.4rem;
    text-align:center;

}
.footer-content img {
    width: 50%;
}
@media screen and (max-width: 480px) {
    /* line 38, ../../sass/partials/_chart.scss */
    .footer-content img {
        width: 100%;
    }
    
}


/*FORM RESET PASS*/
.box-form-reset {
    padding:25px;
    
}
.box-form-reset h2 {
    text-align: center;
    margin: 10px;
}
.form-reset {
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.input-message {
    color: #333 !important;
}