/*	
*	################################################################################
*	
*	My Custom Style for KINGADMIN
*	---------------------------------------------------------------------
*
*	Version		1.0
*	Author		Your Name
*	
*	Override theme style or create your new styles. Direct change to main.css
*	is not recommended to avoid problems when theme updates arrived in the future
*	
*	################################################################################
*/
.fa-black {
    color: #333333 !important;
}
.top-bar .logged-user .btn .name {
    color: #333333;
}
.top-bar .logged-user .btn .caret {
    border-top-color: #333333;
}

.table-action-add {
    float: right;
    position: relative;
    margin-top: -42px;
}

/*NAV*/
.nav-top {
    margin-top:10px;
}
.top-bar {
    padding: 5px !important;
    background: rgb(230, 231, 232);
    border-bottom: 2px solid #ddd;
}

/*PROFILE*/
p.profile-name {
    font-size: 18px;
    margin: 5px;
    font-weight: bold;
}
p.profile-role {
    font-size: 16px;
    margin: 2px;
}
p.profile-id {
    text-decoration: underline;
}
.profile-page .data-input {
    display: none;
    margin: 5px;
}
.profile-page .data-row {
    margin-bottom: 5px;
    margin-left: 10px;
}
.profile-box-save {
    display: none;
}
.user-info-left input {
    font-size: 18px;
    font-weight: bold;
}


/*//SLIDEs*/
#myCarousel:hover {
    cursor: pointer !important;
}

/*MODAL*/
.modal-title {
    text-align: center;
}
.modal-body img {
    width: 100%;
}
.modal-dialog {
    width: 750px;
}
.modal-download {
    text-align: center;
    margin: 10px;
}
.modal-upload-box {
    text-align: center;
}
.modal-upload-file {
    margin: 0 auto;
    width: 170px;
}

.sell-box-date {
    margin-top:25px;
}
.sell-box-date table {
    margin-bottom: 16px;
}
.sellthrough-bp-box {
    text-align: right;
}

.sell-box-date td, .sell-box-date th {
    font-size: 20px;
    padding-right: 5px;
}
.sell-box-date p {
    font-size: 20px;
}




/*LIST NEWS*/
.news {
    margin: 0px;
    margin-top: 10px;
    padding-right:10px;
    padding-left:10px;
    list-style: none;
    margin-top: 20px;

}
.news li {
    margin-bottom: 25px;
}
.news li a{
    color: #333;
}
.news li a:hover{
    text-decoration: none;
}
.news img {
    width: 100%;
}
.news p.tt-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
}
.news p.tt-date {
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}
.news .tt-action {
    margin-top: 10px;
}
.news .tt-action a {
    margin-right: 5px;
}

/*NEWS-deatil*/
.news-detail {
    padding:20px;
}
.news-detail-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0px;
}
.news-detail-date {
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}
.news-detail-action {
    text-align: right;
    float: right;
}
.news-detail-cont {
    margin-top: 30px;
    width:100%;
}
.news-detail-image img {
    width: 75%;
}
@media screen and (max-width: 768px) {
    .news-detail-image img {
        width: 100%;
    }
}

.element-floating-left {
    display: inline !important;
}




/*------------------------------------------------*/
/*	Chart
/*------------------------------------------------*/
/* easy pie chart */
/* line 6, ../../sass/partials/_chart.scss */
.easy-pie-chart {
    position: relative;
    width: 110px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
}
/* line 13, ../../sass/partials/_chart.scss */
.easy-pie-chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
/* line 19, ../../sass/partials/_chart.scss */
.easy-pie-chart .percent {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    line-height: 110px;
    z-index: 2;
}
/* line 25, ../../sass/partials/_chart.scss */
.easy-pie-chart .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}

/* chart navigation */
/* line 34, ../../sass/partials/_chart.scss */
.chart-nav {
    /*margin-bottom: 20px;*/
}
@media screen and (max-width: 480px) {
    /* line 38, ../../sass/partials/_chart.scss */
    .chart-nav strong {
        display: block;
    }
}
/* line 43, ../../sass/partials/_chart.scss */
.chart-nav ul {
    list-style-type: none;
    border-bottom: none;
    margin-bottom: 30px;
}
/* line 6, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_inline-list.scss */
.chart-nav ul, .chart-nav ul li {
    margin: 0;
    padding: 0;
    display: inline;
}
/* line 51, ../../sass/partials/_chart.scss */
.chart-nav ul li a {
    font-size: 0.9em;
    border: none;
    padding: 5px 8px;
    color: #555;
}
/* line 57, ../../sass/partials/_chart.scss */
.chart-nav ul li a:hover, .chart-nav ul li a a:focus {
    border: none;
    text-decoration: none;
    background-color: #ececec;
    border-bottom: 1px solid #E1E1E1;
    text-decoration: none;
}
/* line 67, ../../sass/partials/_chart.scss */
.chart-nav ul li.active a, .chart-nav ul li.active a:hover, .chart-nav ul li.active a:focus {
    background-color: #ececec;
    border-bottom: 1px solid #E1E1E1;
    text-decoration: none;
}

/* line 77, ../../sass/partials/_chart.scss */
.chart-content {
    margin-bottom: 15px;
}

/* line 81, ../../sass/partials/_chart.scss */
#line-chart1 {
    height: 250px;
}

/* flot chart */
/* line 86, ../../sass/partials/_chart.scss */
.flot-tooltip {
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.7);
    color: #aaa;
}

/* line 92, ../../sass/partials/_chart.scss */
#flotTip, .jqstooltip {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0;
    border-radius: 0 !important;
    background-color: #f3f3f3 !important;
    color: #555 !important;
    border-color: silver !important;
}

/* line 100, ../../sass/partials/_chart.scss */
.sales-chart,
.demo-flot-chart {
    width: 100%;
    height: 350px;
}

/* line 106, ../../sass/partials/_chart.scss */
#visit-chart {
    height: 300px;
}

/* line 111, ../../sass/partials/_chart.scss */
.widget.real-time-chart .widget-content {
    padding-right: 40px;
}
/* line 115, ../../sass/partials/_chart.scss */
.widget.real-time-chart #demo-real-time-chart {
    font-size: 12px;
    padding-right: 40px;
}
@media screen and (max-width: 768px) {
    /* line 120, ../../sass/partials/_chart.scss */
    .widget.real-time-chart #demo-real-time-chart .flot-x-axis .flot-tick-label {
        display: none;
    }
}

/* line 128, ../../sass/partials/_chart.scss */
.donut-label {
    font-size: 12px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 3px;
}

/* line 137, ../../sass/partials/_chart.scss */
.secondary-stat .secondary-stat-item {
    color: #fff;
    background-color: #aaa;
    padding: 5px 20px 0 20px;
}
/* line 142, ../../sass/partials/_chart.scss */
.secondary-stat .secondary-stat-item .data {
    float: left;
    margin-bottom: 0;
}
/* line 147, ../../sass/partials/_chart.scss */
.secondary-stat .secondary-stat-item .inlinesparkline {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: absolute;
    left: 15px;
    bottom: 0;
}
/* line 156, ../../sass/partials/_chart.scss */
.secondary-stat #secondary-stat-item1 {
    background-color: #3F7577;
}
/* line 160, ../../sass/partials/_chart.scss */
.secondary-stat #secondary-stat-item2 {
    background-color: #67773F;
}
/* line 164, ../../sass/partials/_chart.scss */
.secondary-stat #secondary-stat-item3 {
    background-color: #D36B19;
}

/* sparkline tooltip fix */
/* line 170, ../../sass/partials/_chart.scss */
.jqstooltip {
    width: auto !important;
    height: auto !important;
}

/* line 177, ../../sass/partials/_chart.scss */
.jqsfield {
    color: #555 !important;
}

/* line 182, ../../sass/partials/_chart.scss */
.widget-sparkline .sparkline-stat-item {
    padding: 8px 0;
    margin-bottom: 30px;
}
/* line 186, ../../sass/partials/_chart.scss */
.widget-sparkline .sparkline-stat-item strong {
    display: block;
    font-size: 1.5em;
    font-weight: 300;
}

/* dashboard mini pie chart */
/* line 196, ../../sass/partials/_chart.scss */
.panel-pie-chart .panel-body {
    text-align: center;
}
/* line 200, ../../sass/partials/_chart.scss */
.panel-pie-chart ul {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-bottom: 0;
}
/* line 204, ../../sass/partials/_chart.scss */
.panel-pie-chart ul > li {
    text-align: center;
    font-size: 0.85em;
    padding-right: 24px;
    margin-bottom: 5px;
}

/* big number with sparkline */
/* line 214, ../../sass/partials/_chart.scss */
.big-number {
    font-family: "latolight";
    font-size: 3.5em;
}

/* line 220, ../../sass/partials/_chart.scss */
.big-number-stat span {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}
/* line 224, ../../sass/partials/_chart.scss */
.big-number-stat em {
    display: block;
    font-style: normal;
}
/* line 229, ../../sass/partials/_chart.scss */
.big-number-stat .col-left {
    float: left;
    margin-right: 10px;
    line-height: 1.8;
}
/* line 235, ../../sass/partials/_chart.scss */
.big-number-stat .col-right {
    float: right;
    position: relative;
    top: 1.5em;
}
@media screen and (max-width: 480px) {
    /* line 235, ../../sass/partials/_chart.scss */
    .big-number-stat .col-right {
        float: none;
    }
}
@media screen and (max-width: 480px) {
    /* line 246, ../../sass/partials/_chart.scss */
    .big-number-stat span {
        display: block;
    }
    /* line 250, ../../sass/partials/_chart.scss */
    .big-number-stat .col-left {
        float: none;
    }
    /* line 254, ../../sass/partials/_chart.scss */
    .big-number-stat .col-right {
        top: 0;
        margin-bottom: 15px;
    }
}

/* interactive charts, choices toggle checkbox */
@media screen and (max-width: 992px) {
    /* line 263, ../../sass/partials/_chart.scss */
    .widget-chart-toggle-series #choices {
        margin-top: 30px;
    }
    /* line 267, ../../sass/partials/_chart.scss */
    .widget-chart-toggle-series #choices > div {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
    }
}

/* d3 heatmap */
/* line 275, ../../sass/partials/_chart.scss */
#demo-d3-heatmap svg {
    max-width: 100%;
    max-height: 100%;
}

/* line 280, ../../sass/partials/_chart.scss */
rect.bordered {
    stroke: #E6E6E6;
    stroke-width: 1px;
}

/* line 286, ../../sass/partials/_chart.scss */
text.mono {
    font-size: 12px;
    fill: #aaa;
}
/* line 291, ../../sass/partials/_chart.scss */
text.axis-workweek {
    fill: #000;
}
/* line 295, ../../sass/partials/_chart.scss */
text.axis-worktime {
    fill: #000;
}

/* d3 barchart */
/* line 301, ../../sass/partials/_chart.scss */
#demo-d3-barchart svg {
    max-width: 100%;
    max-height: 100%;
}

/* line 307, ../../sass/partials/_chart.scss */
.bar.positive {
    fill: #1D92AF;
}
/* line 311, ../../sass/partials/_chart.scss */
.bar.negative {
    fill: #BD0026;
}

/* line 317, ../../sass/partials/_chart.scss */
.axis text {
    font-size: 10px;
}
/* line 321, ../../sass/partials/_chart.scss */
.axis path,
.axis line {
    fill: none;
    stroke: #646464;
    shape-rendering: crispEdges;
}

/* number-chart widget, number on the left and chart on the right */
/* line 330, ../../sass/partials/_chart.scss */
.number-chart {
    padding: 15px 0 0 0;
    margin: 0 30px;
    border-bottom: 2px solid #ddd;
}
@media screen and (max-width: 480px) {
    /* line 330, ../../sass/partials/_chart.scss */
    .number-chart {
        width: auto;
    }
}
/* line 339, ../../sass/partials/_chart.scss */
.number-chart .number {
    height: 103px;
    min-width: 105px;
    padding-top: 1.5em;
    font-weight: 300;
}
@media screen and (max-width: 480px) {
    /* line 339, ../../sass/partials/_chart.scss */
    .number-chart .number {
        float: none !important;
        text-align: center;
        height: 70px;
    }
}
/* line 351, ../../sass/partials/_chart.scss */
.number-chart .number > span {
    font-size: 22px;
    line-height: 1.4;
}
/* line 355, ../../sass/partials/_chart.scss */
.number-chart .number > span + span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
}
/* line 363, ../../sass/partials/_chart.scss */
.number-chart .number i {
    font-size: 12px;
}
/* line 368, ../../sass/partials/_chart.scss */
.number-chart .mini-stat {
    padding: 20px 0;
    text-align: center;
}
/* line 372, ../../sass/partials/_chart.scss */
.number-chart .mini-stat p {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 11px;
}
/* line 378, ../../sass/partials/_chart.scss */
.number-chart .mini-stat i {
    margin-right: 2px;
    font-size: 18px;
    position: relative;
    top: 2px;
}
#table-data-message {

}
.box-table-msg {
    padding: 0px 20px 15px 20px;
    margin-top: -48px;
}
.clickable-row:hover {
    cursor: pointer;
}
.multiselect-container {
    width: 150% !important;
    padding: 5px
}
.multiselect-container li label{
    padding:0px 5px 0px 5px;
}

.dropdown-menu {
    padding: 0px !important;;
}

.color-red {
    color: #c0392b !important;
}
.user-panel {
    height: 50px;
}

/*PROFILE*/
.profile-box {
    padding: 25px;
}

.input-desciprtion {
    font-style: italic;
    font-size: 11px;
    margin: 3px;
    font-family: rotis-light;
}

.full-width {
    display:block;
}
.company_website {
    margin-bottom: 5px;
    width: 90%;
    float:left;
}
#box-form-website a {
    float:left;
    font-size: 20px;
    margin:2px 10px;
}
.delete:active {
    color: #c0392b;
}
.delete:hover {
    color: #c0392b;
}
.delete {
    color: #e74c3c;
}
.delete-company-website:active {
    color: #c0392b;
}
.delete-company-website:hover {
    color: #c0392b;
}
.delete-company-website {
   color: #e74c3c;
}
.show-website {
    margin:2px 0px !important;
    margin-left:5px !important;
}

.box-document {
    margin-bottom: 8px;
}



.multiselect {
    text-align: left !important;
}
#share-buttons {
    float: right;
    margin-right: 40px;
    
}
#share-buttons img {
width: 25px;
padding: 0px;
border: 0;
box-shadow: 0;
display: inline;
}



/*SELL THROUGHT SELL OUT*/
.form-add-product, .form-add-product-item {
    margin-bottom: 25px;
}
/*FORM*/
.field-list-product h4{
    font-size: 16px !important;
    color:darkred;
    font-style: italic;
}

/*SELL OUT*/
#desc_product {
    text-align: right;
    display: none;
}
#desc_product span {
    font-size: 16px;
}
.sellout-product-value {
    font-size: 16px;
    padding: 7px;
    font-weight: bold;
}
.sellout-product-label {
    font-size: 16px;
}
.sellout-product-title {
    font-size: 20px;
    font-weight: bold;
}

.achieve_category {
    font-size: 16px;
    text-decoration: underline;
}

/*REPORT*/
.box-achievement-category-ratio {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 10px;
    padding: 5px 10px;
}
.box-achievement-category-ratio-item {
    padding-bottom: 5px;
}
.box-achievement-report-data {
    display: none;
}
.text-center {
    text-align: center;
}
p.box-achievement-warning-charttable {
    margin:0 auto;
    text-align: center;
    color: #555;
    font-size: 14px;
    font-style: italic;
}
.box-achievement-report-table {
    overflow-y: auto;
}
.display-gone {
    display: none;
}

/*Sellthrough*/
.form-product-sn {
    margin-top: 5px;

}
.st-multiplic {
    margin-top: 5px;
    width: 1%;
    padding: 0px;
}
.st-multiplic-icon {
    color: silver;
}
.sellthrough-totalrevenue {
    font-weight: bold;
}
@media screen and (max-width: 480px) {
    
    .st-multiplic {
        margin: 0px;
        width: 100%;
    }
}

.input-message
{
    color: #666;
}